<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.6.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d7135b5ad1e0a4c78ad423fb342c4da:281cf96bdf40f7a0e8f2e397d4b5e642:d113694cc692a342e304a322bc52fe6f$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>LevelSprites.1.png</string>
                <key>size</key>
                <string>{2016,1345}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>leftTree.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{340,919}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{340,919}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>backgroundTrees.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{422,281}</string>
                        <key>textureRect</key>
                        <string>{{1,922},{281,422}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rightMidTree.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{245,415}</string>
                        <key>textureRect</key>
                        <string>{{284,922},{245,415}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bigMountain.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{878,707}</string>
                        <key>textureRect</key>
                        <string>{{343,1},{707,878}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>midTree.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{223,456}</string>
                        <key>textureRect</key>
                        <string>{{531,881},{223,456}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>leftMidTree.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{290,441}</string>
                        <key>textureRect</key>
                        <string>{{756,881},{290,441}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>title.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{433,471}</string>
                        <key>textureRect</key>
                        <string>{{1048,881},{471,433}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>rightTree.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{336,871}</string>
                        <key>textureRect</key>
                        <string>{{1052,1},{336,871}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>firstTree.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{239,593}</string>
                        <key>textureRect</key>
                        <string>{{1390,1},{593,239}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>smallMountain.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{632,240}</string>
                        <key>textureRect</key>
                        <string>{{1390,242},{240,632}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>plane_03.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{233,74}</string>
                        <key>textureRect</key>
                        <string>{{1632,242},{233,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cat.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{102,78}</string>
                        <key>textureRect</key>
                        <string>{{1867,242},{102,78}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fight_02.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{244,221}</string>
                        <key>textureRect</key>
                        <string>{{1632,318},{228,220}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>playBtn.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{153,153}</string>
                        <key>textureRect</key>
                        <string>{{1862,322},{153,153}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lake.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{754,161}</string>
                        <key>textureRect</key>
                        <string>{{1632,540},{161,754}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fight_04.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{220,206}</string>
                        <key>textureRect</key>
                        <string>{{1795,540},{220,206}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fight_01.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{221,236}</string>
                        <key>textureRect</key>
                        <string>{{1795,748},{219,221}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>star.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{53,55}</string>
                        <key>textureRect</key>
                        <string>{{1862,477},{53,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>fight_03.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{208,211}</string>
                        <key>textureRect</key>
                        <string>{{1795,971},{211,208}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>pauseBtn.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{98,80}</string>
                        <key>textureRect</key>
                        <string>{{1521,876},{98,80}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{227,80}</string>
                        <key>textureRect</key>
                        <string>{{1521,958},{80,227}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
